*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-title: #333;
  --color-card-border: #333;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background: linear-gradient(
    to left,
    rgba(100, 96, 130, 0.2),
    rgba(195, 71, 142, 0.2)
  );
}

main {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

ul {
  list-style-type: none;
  margin-top: 4em;
  margin-bottom: 3em;
}

li {
  margin: 1.5em 1.5em;
  position: relative;
}

li::before {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.875em;
  border-bottom: 0.15em solid #78b13f;
  border-right: 0.15em solid #78b13f;
  transform: rotate(45deg);
  position: absolute;
  left: -1.2em;
  top: 0.1em;
}

li::after {
  content: "";
  position: absolute;
  left: -1.75em;
  top: -0.1em;
  background: rgb(120, 177, 63, 0.2);
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
}

.card {
  width: 300px;
  background-color: #fff;
  padding: 3em 2em;
  border: 0.5em solid var(--color-card-border);
  border-radius: 0.875em;
  background-clip: padding-box;
}

.card-violet {
  --color-title: rgb(100, 96, 130);
  --color-card-border: rgb(100, 96, 130, 0.3);
  position: relative;
}

.card-violet::before {
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  top: -6em;
  left: 8em;
  border-radius: 0.875em;
  background-color: rgb(100, 96, 130, 0.1);
  z-index: -1;
}

.card-magenta {
  --color-title: rgb(195, 71, 142);
  --color-card-border: rgb(195, 71, 142, 0.2);
  position: relative;
}

.card-magenta::before {
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: -6em;
  left: 5em;
  border-radius: 0.875em;
  background-color: rgba(195, 71, 142, 0.1);
  z-index: -1;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  color: var(--color-title);
}

.price span {
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 1em;
  border: transparent;
  outline: transparent;
  border-radius: 0.5em;
  font-weight: bold;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
}

.btn-outlined {
  border: 0.1em solid rgb(100, 96, 130);
  color: rgb(100, 96, 130);
}

.btn-filled {
  background-color: rgb(195, 71, 142);
  color: #fff;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .card-violet::before {
    top: 50%;
    left: -50%;
  }
}

@media screen and (max-width: 480px) {
  .card-violet::before,
  .card-magenta::before {
    display: none;
  }
}
